@model TennisScoreboard.FinishedMatchViewDto
@{
    Layout = null; // если не используешь общий _Layout.cshtml
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tennis Scoreboard | Match Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/app.js"></script>
</head>
<body>
    <header class="header">
        <section class="nav-header">
            <div class="brand">
                <div class="nav-toggle">
                    <img src="~/images/menu.png" alt="Logo" class="logo" />
                </div>
                <span class="logo-text">TennisScoreboard</span>
            </div>
            <div>
                <nav class="nav-links">
                    <a class="nav-link" href="./">Home</a>
                    <a class="nav-link" href="./matches">Matches</a>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <div class="container">
            <h1>Match Result</h1>
            <div class="current-match-image"></div>
            <section class="score">
                <table class="table">
                    <thead class="result">
                        <tr>
                            <th class="table-text">Player</th>
                            <th class="table-text">Sets</th>
                            <th class="table-text">Games</th>
                            <th class="table-text">Points</th>
                            <th class="table-text">Winner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="player1">
                            <td class="table-text">@Model.CurrentMatch.FirstPlayerId</td>
                            <td class="table-text">@Model.CurrentMatch.FirstPlayerSets</td>
                            <td class="table-text">@Model.CurrentMatch.FirstPlayerGames</td>
                            <td class="table-text">@Model.CurrentMatch.FirstPlayerPoints</td>
                            <td class="table-text">@Model.FirstPlayerResult</td>
                        </tr>
                        <tr class="player2">
                            <td class="table-text">@Model.CurrentMatch.SecondPlayerId</td>
                            <td class="table-text">@Model.CurrentMatch.SecondPlayerSets</td>
                            <td class="table-text">@Model.CurrentMatch.SecondPlayerGames</td>
                            <td class="table-text">@Model.CurrentMatch.SecondPlayerPoints</td>
                            <td class="table-text">@Model.SecondPlayerResult</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer">
            <p>
                &copy; Tennis Scoreboard, project from
                <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a>
                roadmap.
            </p>
        </div>
    </footer>
</body>
</html>
