@model TennisScoreboard.MatchPageViewDto
@{
    var matchPage = Model.MatchAttributes;
    int currentPage = Model?.CurrentPage ?? 1;
    int totalPages = Model?.TotalPages ?? 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/app.js"></script>
</head>
<body>
    <header class="header">
        <section class="nav-header">
            <div class="brand">
                <div class="nav-toggle">
                    <img src="~/images/menu.png" alt="Logo" class="logo">
                </div>
                <span class="logo-text">TennisScoreboard</span>
            </div>
            <div>
                <nav class="nav-links">
                    <a class="nav-link" asp-page="/Index">Home</a>
                    <a class="nav-link" asp-page="/Matches">Matches</a>
                </nav>
            </div>
        </section>
    </header>
    <main>
        <div class="container">
            <h1>Matches</h1> <form method="get" class="input-container">
                <input class="input-filter"
                       placeholder="Filter by name"
                       type="text"
                       name="playerNameFilter"
                       value="" />

                <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 0px;">
                    <div>
                        <button type="submit" class="btn-filter">Filter</button>
                    </div>
                    <div>
                        <button type="button" class="btn-filter" onclick="window.location.href='/Matches'">Reset Filter</button>
                    </div>
                </div>
            </form>

            @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
            {
                <p style="color: red;">@ViewData["ErrorMessage"]</p>
            }

           

            <table class="table-matches">
                <tr>
                    <th>Player One</th>
                    <th>Player Two</th>
                    <th>Winner</th>
                </tr>

                @for (int i = 1; i <= 5; i++)
                {
                    <tr>
                        <td>@(matchPage.TryGetValue($"firstPlayerName{i}", out var p1) ? p1 : "")</td>
                        <td>@(matchPage.TryGetValue($"secondPlayerName{i}", out var p2) ? p2 : "")</td>
                        <td><span class="winner-name-td">@(matchPage.TryGetValue($"winnerName{i}", out var w) ? w : "")</span></td>
                    </tr>
                }
            </table>
            
            <div class="pagination">

                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="@(currentPage > 1 ? currentPage - 1 : 1)" />
                    <button type="submit" class="prev" @(currentPage == 1 ? "disabled" : "")>&lt;</button>
                </form>

                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="1" />
                    <button type="submit" class="num-page" @(currentPage == 1 ? "disabled" : "")>1</button>
                </form>
                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="2" />
                    <button type="submit" class="num-page" @(currentPage == 2 ? "disabled" : "")>2</button>
                </form>
                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="3" />
                    <button type="submit" class="num-page" @(currentPage == 3 ? "disabled" : "")>3</button>
                </form>
                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="4" />
                    <button type="submit" class="num-page" @(currentPage == 4 ? "disabled" : "")>4</button>
                </form>
                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="5" />
                    <button type="submit" class="num-page" @(currentPage == 5 ? "disabled" : "")>5</button>
                </form>

                <form method="get" style="display:inline;">
                    <input type="hidden" name="page" value="@(currentPage < totalPages ? currentPage + 1 : totalPages)" />
                    <button type="submit" class="next" @(currentPage == totalPages ? "disabled" : "")>&gt;</button>
                </form>

            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; Tennis Scoreboard, project from <a href="https://zhukovsd.github.io/java-backend-learning-course/">zhukovsd/java-backend-learning-course</a> roadmap.</p>
        </div>
    </footer>
</body>
</html>
